<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <h1>Rani's here!</h1>
     <h4 class="subheader">No risk no fun.</h4>
    </div>
    <div class="content">
      <img class="trying to be the queen-of-computers" src="23223250_1469693046471003_182678742_o.jpg" />
       <p>My name is Rani and I'm currently a Computer Science student in Maynooth University.</p>
        <p>Life is hard computer science will make it harder but we learn how to make it easy. </p>
  </div>
  </main>
</body>
</html>
