<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body class="container">

  <header>
    <% include ../partials/navbar %>
  </header>

  <main class="contact-container">
    <div class="page-header">
      <h1>Be my friend?</h1>
    </div>
    <div class="content">
     
      </a>
      <a class="contact-icon-link" href="https://www.facebook.com/rani.joy.5.1" target="_blank">
        <i class="contact-icon fa fa-facebook-square"></i>
      </a>
    </div>
  </main>
</body>
</html>