<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

  <header>
    <% include ../partials/navbar %>
  </header>

  <main>
    <div class="page-header">
      <h1>Look what I did!</h1>
      <h4 class="subheader">Disclaimer: I'm still a baby in this.</h4>
    </div>
    <div class="container">
      <div class="code-container">
        <img src="/images/avatar_sugar.jpg"/>
        <div>
          <h3>Flarpbook</h3>
          <p>Haven't done any projects so far. I'm pretty new to this.I would really love to work in Graphics and video games so hopefully I will make a project on these subjects in the future. .</p>
      </div>
   
    </div>
  </main>
</body>
</html>